
language: java

jdk: oraclejdk8

sudo: true

cache:
  directories:
    - ~/.m2/repository
 
before_install:
  - sudo apt-get update -q
  - sudo apt-get install haveged
  - sudo service haveged restart
  #- sudo apt-get install gnupg2
  #- sudo apt-get install gnupg-agent

script: mvn --settings="settings.xml" clean verify
   
#after_success:
  #- build/before-deploy.sh
#  - build/deploy.sh

deploy:
  -
    provider: script
    script: build/deploy.sh
    skip_cleanup: true
    on:
      repo: spoofzu/DeepViolet
      tags: true
      jdk: oraclejdk8
  
# configure notifications (email, IRC, campfire etc)
# check results at https://webchat.freenode.net/
notifications:
  irc: "irc.freenode.org#deepviolet"
  template:
      - '%{repository_slug}#%{build_number} (%{branch}) %{message} %{build_url}'
