<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
          <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
		<gpg.executable>gpg</gpg.executable>
        <gpg.keyname>${env.GPG_PASSPHRASE}</gpg.keyname>
		<gpg.useAgent>true</gpg.useAgent>
      </properties>
    </profile>
  </profiles>
</settings>
