<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
          <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
		<gpg.publicKeyring>~/.gnupg/pubring.gpg</gpg.publicKeyring>
		<gpg.secretKeyring>~/.gnupg/secring.gpg</gpg.secretKeyring>
		<gpg.executable>gpg2</gpg.executable>
        <gpg.keyname>388E94D5</gpg.keyname>
		<!--
		<gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
		-->
      </properties>
    </profile>
  </profiles>
</settings>
