<?xml version="1.0" encoding="UTF-8"?>
  <servers>
    <server>
      <id>${env.GPG_KEY_NAME}</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
	</server>
  </servers>
  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
          <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
		<gpg.executable>gpg2</gpg.executable>
        <gpg.keyname>66EF37E5</gpg.keyname>
		<gpg.gpgArguments>--default-key 66EF37E5</gpg.gpgArguments>
		<!--
		<gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
	     -->
      </properties>
    </profile>
  </profiles>
</settings>
