<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
       <pattern>%msg%n</pattern>
      </encoder>
  </appender>
  
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <!--  ${dv_user_directory} is OS dependent and set by DeepViolet -->
   	<file>${dv_user_directory}deepviolet.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>
     
   <!-- sink logback messages for now, noisy -->
   <logger name="ch.qos.logback" level="ERROR" additivity="false">
   		 <appender-ref ref="FILE" />
   </logger>
     
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
  
</configuration>