<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="MSG_FMT_LG" value="%d{yyyy-MM-dd HH:mm:ss} | %5level | %logger{30} | %msg%n" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${MSG_FMT_LG}</pattern>
    </encoder>
  </appender>

  <logger name="ai-inline" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="ai-chat" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
